<h2><em><%= @flight.flight_no %></em></h2>


<p>Rows: <%= @flight.date %></p>
<p>Origin: <%= @flight.origin %></p>
<p>Destination: <%= @flight.destination %></p>

<br>

<%= link_to 'Edit This Flight', edit_flight_path(@flight) %>
|
<%= link_to 'Delete This Flight', flight_path(@flight), method: 'delete' %>
